.home-section {
    min-height: 100vh;


}

.div-h1 {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-trips {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: space-evenly;
    min-height: 100vh;
}