/* .section-create{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-create-div{
    display: flex;
    justify-content: center;

}

.form-create{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid 2px;
    border-radius: 9px;
    width: 450px;
    height: 550px;
    justify-content: space-around;
    padding-right: 40px;
    background-color: #8d868670;
    box-shadow: 3px 2px 5px black;
}

.div-search-btn{
    display: flex;
}


.label-create{
    width: 70%;
}

.btnAdd {
    cursor: pointer;
    margin: 0 10px;
} */




