
.header{
    width: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
   
}

.nav-li{
    margin: 15px 30px;
    list-style: none;
    color: white;
  
    
}


li.nav-li>a{
    text-decoration: none;
    color: white;
}

.btn-logout{
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
}